version: '1.0'

services:
  web:
    image: ${CI_REGISTRY_IMAGE}:web-v1.0.0
    ports:
      - "81:5000"
    build:
      context: ./Web
      dockerfile: Dockerfile

  db:
    image: ${CI_REGISTRY_IMAGE}:db-v1.0.0
    ports:
      - "5000:5000"
    build:
      context: ./DB
      dockerfile: Dockerfile