{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %} 
    {% if messages %}
    <div class="alert alert-primary" role="alert" id="messages">
        <button type="button" class="btn-close" 
                aria-label="Close" 
                onclick="document.getElementById('messages').style.display = 'none';"></button>
        {{ messages[0] }}
    </div>
    {% endif %} 
{% endwith %}

<div class="row">
    <div class="col" id="title">
        <h1 class="mt-5 text-center">Calculatrice en ligne</h1>
    </div>
</div>

<table class="calculator" >
  <form action="/" method="post" >
    <tr>
      <td colspan="3"> <input class="display-box" type="text" id="result" name="result" value="{{result}}" readonly /> </td>
      <!-- backSpace() function clears the last value -->
      <td> <input type="button" value="<<" onclick="backSpace()" id="btn-2" /> </td>
    </tr>
    <tr>
      <td> <input type="button" value="(" onclick="display('&#40')" id="btn-1"/> </td>
      <td> <input type="button" value=")" onclick="display('&#41')" id="btn-1"/> </td>
      <td> <input type="button" value="²" onclick="display('²')" id="btn-1"/> </td>
      <td> <input type="button" value="√" onclick="display('√\(')" id="btn-1" /> </td>
    </tr>

    <tr>
      <!-- display() function displays the value of clicked button -->
      <td> <input type="button" value="1" onclick="display('1')" /> </td>
      <td> <input type="button" value="2" onclick="display('2')" /> </td>
      <td> <input type="button" value="3" onclick="display('3')" /> </td>
      <td> <input type="button" value="/" onclick="display('/')" id="btn-1" /> </td>
    </tr>
    <tr>
      <td> <input type="button" value="4" onclick="display('4')" /> </td>
      <td> <input type="button" value="5" onclick="display('5')" /> </td>
      <td> <input type="button" value="6" onclick="display('6')" /> </td>
      <td> <input type="button" value="-" onclick="display('-')" id="btn-1" /> </td>
    </tr>
    <tr>
      <td> <input type="button" value="7" onclick="display('7')" /> </td>
      <td> <input type="button" value="8" onclick="display('8')" /> </td>
      <td> <input type="button" value="9" onclick="display('9')" /> </td>
      <td> <input type="button" value="+" onclick="display('+')" id="btn-1" /> </td>
    </tr>
    <tr>
      <td colspan = "2"> <input type="button" value="0" onclick="display('0')" /> </td>
      <td> <input type="button" value="." onclick="display('.')" id="btn-1" /> </td>
      <td> <input type="button" value="*" onclick="display('*')" id="btn-1" /> </td>
    </tr>
    <tr>
      <!-- clearScreen() function clears all the values -->
      <td colspan = "2"> <input type="button" value="C" onclick="clearScreen()" id="btn-2" /> </td>
      <!-- calculate() function evaluates the mathematical expression -->
      <td colspan = "2">
         <input type="submit" value="=" id="btn-1" /> 
         {% if current_user.is_authenticated %}
          <input type="hidden" value="{{current_user.id}}" id="user" name="user"/> 
        {% else %}
          <input type="hidden" value="-1" id="user" name="user"/> 
        {% endif %}
        </td>
      </tr>
    </form>
  </table>
   
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
